
body {
    margin: 0px; 
    background-image: url("../img/b1.jpg");
    background-size: cover;} 
    


  .container {
    background-color: #FFFCF7;
    opacity: .95;
    box-shadow: -2px 2px 35px -5px rgba(218,255,255,0.75);
-webkit-box-shadow: -2px 2px 35px -5px rgba(218,255,255,0.75);
-moz-box-shadow: -2px 2px 35px -5px rgba(218,255,255,0.75);
    margin: 70px auto;
    width: 85%;
    height: 70%;
}

.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f8b57d;
    height: 70px;
    font-size: 25px;
  }
  
  .navLi {
    float: left;
    padding-left: 40px;
    padding-top: 10px;

  }
  
  li a {
    display: block;
    color: rgb(21, 1, 48);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: gainsboro;
    background-color: #111;
    border-radius: 5px;
  }

  
  
.mainImg {
  width: 50%;
  z-index: -1;
  position: absolute;

}

.divMainImg {
  margin-top: 60px;   
  padding-bottom: 430px;
}

  .furat {
    font-size: 50px;
    margin-top: 95px;
    position: absolute;
    left: 57%;
  }

  .software {
    font-size: 25px;
    margin-top: 144px;
    position: absolute;
    left: 62%;
  }


  .bio {
    font-size: 17px;
    margin-top: 190px;
    position: absolute;
    left: 58%;
    text-align: center;
  }

  .bannerLine {
    background-color: #a965d4 ;
    background-image: url(../img/b2.jpg);
    height: 20px;
    opacity: .7;
  }

  .bannerTop {
    background-color:#f8b57d;
    box-shadow: 1px 2px 6px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 2px 6px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 6px -1px rgba(0,0,0,0.75);
    margin-left: 40px;
  }


  .bannerIcons {
    background-color: rgb(250, 227, 239);
    padding: 20px;
    box-shadow: 1px 2px 6px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 2px 6px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 6px -1px rgba(0,0,0,0.75);
  }

  .gallary {
    text-align: center;
  }

  .gallaryItems {
    display: inline;
    padding: 10px;
  }

  .gallaryItems img 
  {
    border-radius: 50%;
    width: 200px;
    box-shadow: 1px 2px 6px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 2px 6px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 6px -1px rgba(0,0,0,0.75);
  }

  .heading {
    margin-left: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    opacity: .9;
    z-index: -1 ;
  }

  
  .movies 
  { font-size: 25px;
    background-color: rgb(221, 228, 233);
      padding: 40px;
      box-shadow: 1px 2px 6px -1px rgba(0,0,0,0.75);
      -webkit-box-shadow: 1px 2px 6px -1px rgba(0,0,0,0.75);
      -moz-box-shadow: 1px 2px 6px -1px rgba(0,0,0,0.75);
  }

  .bannerSecond {
    background-color: rgb(250, 227, 239);
    padding: 40px;
    box-shadow: 1px 2px 6px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 2px 6px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 6px -1px rgba(0,0,0,0.75);
  }


  .unorderdAbout
  {
      background-color:  rgb(250, 227, 239);
    padding: 40px;
    padding-bottom: 80px;
    box-shadow: 1px 2px 6px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 2px 6px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 6px -1px rgba(0,0,0,0.75);
  }

  .facts {
    margin-left: 570px;
    font-size: 23px;
  }

  .list {
    margin-right: 400px;
    font-size: 23px;
  }

  footer {
    background-color: #f8b57d;
    font-size: 23px;
    padding: 30px;
    text-align: center;
  }

  .mov {
    width:250px;
    margin-top: 35px;
    position: absolute;
    border-color: white;
    border-width: 10px;
    border-style: solid;
    left: 58%;
  }


  .factAbout {
    width:250px;
    margin-top: 18px;
    position: absolute;
    border-color: skyblue;
    border-width: 10px;
    border-style: solid;
    right: 60%;
  }
